extends layout
block content
  .navbar.navbar-default.navbar-fixed-top.scroll-me
    //- pass scroll-me class above a tags to starts scrolling
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='#')
          img(src='/img/nagaLogo.png', alt='')
      .navbar-collapse.collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='#contact') اتصل بنا
          li
            a(href='#works') أعمالنا
          li
            a(href='#team') فريق العمل
          li
            a(href='#header') الرئيسية
  //- NAVBAR END
  #header
    .overlay
      .container
        .row.scroll-me
          .col-md-8.col-md-offset-2.col-sm-6.col-sm-offset-3.text-center
            h1(data-scroll-reveal='enter from the bottom after 0.2s')
              //- | Naga software development company and create better systems and sites
              | شركة ناقة لتطوير البرمجيات وخلق نظم أفضل ومواقع
            //- h4(data-scroll-reveal='enter from the bottom after 0.4s')
            //-   | Morbi bibendum risus non nunc feugiat, quis venenatis augue fringilla.
            //-   | Morbi vestibulum elit eget leo congue elementum.
            //-   | Aliquam at turpis urna. Nam pulvinar tincidunt posuere.
            //- a.btn.btn-danger.set-bk-clr(data-scroll-reveal='enter from the bottom after 0.6s', href='#') Explore Awesomeness
  
  section#works
    .container
      .row.text-center
        .col-md-6.col-md-offset-3.pad-bottom(data-scroll-reveal='enter from the bottom after 0.2s')
          h2
            strong WORK PORFOLIO
          |                     Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae
      .row.text-center
        .col-md-12.pad-bottom(data-scroll-reveal='enter from the bottom after 0.4s')
          .caegories
            a.active.btn.btn-info.btn-sm(href='#', data-filter='*') All
            a.btn.btn-info.btn-sm(href='#', data-filter='.html') HTML
            a.btn.btn-info.btn-sm(href='#', data-filter='.css') CSS
            a.btn.btn-info.btn-sm(href='#', data-filter='.code') CODE
            a.btn.btn-info.btn-sm(href='#', data-filter='.script') SCRIPT
      #portfolio-div.row.text-center
        .col-md-4.col-sm-4.html
          .work-wrapper
            a.fancybox-media(title='Image Title Goes Here', href='/img/portfolio/1.jpg')
              img.img-responsive(src='/img/portfolio/1.jpg', alt='')
        .col-md-4.col-sm-4.css
          .work-wrapper
            a.fancybox-media(title='Image Title Goes Here', href='/img/portfolio/2.jpg')
              img.img-responsive(src='/img/portfolio/2.jpg', alt='')
        .col-md-4.col-sm-4.code
          .work-wrapper
            a.fancybox-media(title='Image Title Goes Here', href='/img/portfolio/3.jpg')
              img.img-responsive(src='/img/portfolio/3.jpg', alt='')
        .col-md-4.col-sm-4.script
          .work-wrapper
            a.fancybox-media(title='Image Title Goes Here', href='/img/portfolio/4.jpg')
              img.img-responsive(src='/img/portfolio/4.jpg', alt='')
        .col-md-4.col-sm-4.html.script
          .work-wrapper
            a.fancybox-media(title='Image Title Goes Here', href='/img/portfolio/5.jpg')
              img.img-responsive(src='/img/portfolio/5.jpg', alt='')
        .col-md-4.col-sm-4.css.code
          .work-wrapper
            a.fancybox-media(title='Image Title Goes Here', href='/img/portfolio/6.jpg')
              img.img-responsive(src='/img/portfolio/6.jpg', alt='')
  //- WORK SECTION END
  #testimonial(data-scroll-reveal='enter from the bottom after 0.2s')
    .overlay
      .container
        .row.text-center
          .col-md-4.col-md-offset-4.col-sm-4.col-sm-offset-4
            i.ion-ios-drag.clr-set.f-big
            br
            p
              | Consectetur adipiscing elit felis dolor felis dolor vitae.
              | Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
  //- TESTIMONIAL SECTION END
  section#team
    .container
      .row.text-center(data-scroll-reveal='enter from the bottom after 0.2s')
        .col-md-6.col-md-offset-3.pad-bottom
          h2
            strong الفريق
          |                     Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae
      .row.pad-bottom(data-scroll-reveal='enter from the bottom after 0.4s')
        .col-md-6.col-sm-6
          .media
            a.media-left(href='#')
              img.img-circle(src='/img/11.jpg', alt='')
            .media-body
              h3.media-heading Technical Director
              |                             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
              |            3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
        .col-md-6.col-sm-6
          .media
            a.media-left(href='#')
              img.img-circle(src='/img/12.jpg', alt='')
            .media-body
              h3.media-heading Ahmed
              | Ahmed is the founder, CEO, & head of development of Naga. As of December 2012, He has been awarded a master's degree in computer science from the University of San Francisco. In the recent years Ahmed has been employed by the  High National Election Commission in Libya as a tech consultant.
      .row.pad-bottom(data-scroll-reveal='enter from the bottom after 0.6s')
        .col-md-6.col-sm-6
          .media
            a.media-left(href='#')
              img.img-circle(src='/img/13.jpg', alt='')
            .media-body
              h3.media-heading Clients Manager
              |                             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
              |            3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
        .col-md-6.col-sm-6
          .media
            a.media-left(href='#')
              img.img-circle(src='/img/14.jpg', alt='')
            .media-body
              h3.media-heading Support Director
              |                             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
              |            3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
      .row.pad-bottom(data-scroll-reveal='enter from the bottom after 0.6s')
        .col-md-6.col-sm-6
          .media
            a.media-left(href='#')
              img.img-circle(src='/img/17.jpg', alt='')
            .media-body
              h3.media-heading Clients Manager
              |                             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
              |            3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
        .col-md-6.col-sm-6
          .media
            a.media-left(href='#')
              img.img-circle(src='/img/18.jpg', alt='')
            .media-body
              h3.media-heading Support Director
              |                             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
              |            3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
      .row.pad-bottom(data-scroll-reveal='enter from the bottom after 0.6s')
        .col-md-6.col-sm-6
          .media
            a.media-left(href='#')
              img.img-circle(src='/img/19.jpg', alt='')
            .media-body
              h3.media-heading Clients Manager
              |                             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
              |            3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
        .col-md-6.col-sm-6
          .media
            a.media-left(href='#')
              img.img-circle(src='/img/20.jpg', alt='')
            .media-body
              h3.media-heading Support Director
              |                             Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
              |            3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
  //- TEAM SECTION END
  section#contact
    .overlay
      .container.contact.center(data-scroll-reveal='enter from the bottom after 0.4s')
        .col-md-3.center.section-title
          h2
            | العنوان 
            h4#h4 ليبيا طرابلس طريق الصور 
            h4#h4
              strong رقم الهاتف  
              p
              | 092******* 
              p
              | 091*******
            h4#h4
              strong info@naga.ly : 
              | البريد الالكتروني
          .col-xs-12
            br
            br
        .col-md-7.col-md-offset-2
          .col-md-10.col-md-offset-1.center.section-title
            h2 الرسالة
          .confirmation
            p
              span.fa.fa-check
          form.contact-form.support-form#contactFormArabic(name='contactFormArabic',methode='POST')
            .col-lg-12
              #error
              input#contactNameArabic.input-field.form-item.field-name.text-right(type='text', name='contactNameArabic', placeholder='الاسم')
              input#contactEmailArabic.input-field.form-item.field-email.text-right(type='email', name='contactEmailArabic', placeholder='البريد الالكتروني')
              input#contactSubjectArabic.input-field.form-item.field-subject.text-right(type='text', name='contactSubjectArabic', placeholder='الموضوع')
              textarea#contactMessageArabic.textarea-field.form-item.field-message.text-right(rows='7', name='contactMessageArabic', placeholder='الرسالة')
            button.fancy-button.button-line.button-white.large.zoom.subform(type='submit')
              | أرسل الرسالة
  //- CONTACT SECTION END
  footer
    | &copy 2015 Naga.ly