
<div class="navbar navbar-default navbar-fixed-top scroll-me">
  <div class="container">
    <div class="navbar-header">
      <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="#" class="navbar-brand"><img src="/img/nagaLogo.png" alt=""/></a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#header">HOME</a></li>
        <li><a href="#services">SERVICES</a></li>
        <li><a href="#clients">CLIENTS</a></li>
        <li><a href="#works">WORK</a></li>
        <li><a href="#contact">CONTACT</a></li>
        <li><a href="#aboutUs">ABOUT US</a></li>
        <li><a href="#team">TEAM</a></li>
      </ul>
    </div>
  </div>
</div>

<div id="header">
  <div class="overlay">
    <div class="container">
      <div class="row scroll-me">
        <div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 text-center">
          <h1 data-scroll-reveal="enter from the bottom after 0.2s">Naga software development company and create better systems and sites</h1>
        </div>
      </div>
    </div>
  </div>
</div>

<section id="services">
  <div class="container">
    <div class="row text-center">
      <div data-scroll-reveal="enter from the bottom after 0.2s" class="col-md-6 col-md-offset-3 pad-bottom">
        <h2><strong>OUR SERVICES</strong></h2>                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae
      </div>
    </div>
    <div data-scroll-reveal="enter from the bottom after 0.4s" class="row text-center pad-bottom">
      <div class="col-md-3"><i class="ion-ios-cloud-outline"></i>
        <h4><strong>Service Name # 1 </strong></h4>                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
      </div>
      <div class="col-md-3"><i class="ion-card"></i>
        <h4><strong>Service Name # 2 </strong></h4>                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
      </div>
      <div class="col-md-3"><i class="ion-speedometer"></i>
        <h4><strong>Service Name # 3 </strong></h4>                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
      </div>
      <div class="col-md-3"><i class="ion-ios-settings"></i>
        <h4><strong>Service Name # 4 </strong></h4>                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
      </div>
    </div>
    <div data-scroll-reveal="enter from the bottom after 0.6s" class="row text-center">
      <div class="col-md-3"><i class="ion-ios-chatboxes-outline"></i>
        <h4><strong>Service Name # 5 </strong></h4>                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
      </div>
      <div class="col-md-3"><i class="ion-ios-pulse-strong"></i>
        <h4><strong>Service Name # 6 </strong></h4>                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
      </div>
      <div class="col-md-3"><i class="ion-ios-browsers-outline"></i>
        <h4><strong>Service Name # 7 </strong></h4>                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
      </div>
      <div class="col-md-3"><i class="ion-ios-people-outline"></i>
        <h4><strong>Service Name # 8 </strong></h4>                    Consectetur adipiscing elit felis dolor felis dolor vitae.Eelit felis dolor vitae felis dolor vitae
      </div>
    </div>
  </div>
</section>

<div id="clients">
  <div class="overlay">
    <div class="container">
      <div class="row text-center">
        <div data-scroll-reveal="enter from the bottom after 0.2s" class="col-md-12">
          <div id="clients-slider" class="carousel slide clients-carousel">
            <div class="carousel-inner">
              <div class="item active">
                <div class="row">
                  <div class="col-md-3"><a href="#" class="thumbnail"><img src="/img/facebook.png" alt=""/></a></div>
                  <div class="col-md-3"><a href="#" class="thumbnail"><img src="/img/facebook.png" alt=""/></a></div>
                  <div class="col-md-3"><a href="#" class="thumbnail"><img src="/img/google.png" alt=""/></a></div>
                  <div class="col-md-3"><a href="#" class="thumbnail"><img src="/img/graphic.png" alt=""/></a></div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-md-3"><a href="#" class="thumbnail"><img src="/img/facebook.png" alt=""/></a></div>
                  <div class="col-md-3"><a href="#" class="thumbnail"><img src="/img/facebook.png" alt=""/></a></div>
                  <div class="col-md-3"><a href="#" class="thumbnail"><img src="/img/google.png" alt=""/></a></div>
                  <div class="col-md-3"><a href="#" class="thumbnail"><img src="/img/graphic.png" alt=""/></a></div>
                </div>
              </div>
              <div class="item">
                <div class="row">
                  <div class="col-md-3"><a href="#" class="thumbnail"><img src="/img/facebook.png" alt=""/></a></div>
                  <div class="col-md-3"><a href="#" class="thumbnail"><img src="/img/facebook.png" alt=""/></a></div>
                  <div class="col-md-3"><a href="#" class="thumbnail"><img src="/img/google.png" alt=""/></a></div>
                  <div class="col-md-3"><a href="#" class="thumbnail"><img src="/img/graphic.png" alt=""/></a></div>
                </div>
              </div>
            </div><a data-slide="prev" href="#clients-slider" class="left carousel-control">‹</a><a data-slide="next" href="#clients-slider" class="right carousel-control">›</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


