[Desktop Entry]
Encoding=UTF-8
Name=Link to      Mohammed Al Gemati
Type=Link
URL=https://www.facebook.com/profile.php?id=100001455696100
Icon=text-html
